@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* width */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #393940;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616166;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #76757a;
}

html,
body {
  background-color: #090c10;
  color: #fff;
}

#app {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
